* {
  margin: 0;
  padding: 0;
}

.disable-scrolling {
  overflow: hidden;
}

body {
  background-color: rgb(21, 21, 21);
  color: rgb(234, 210, 171);
  background: white;
  color: black;
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  height: 2px;
  width: 95%;
  background: grey;
}

#view {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin: 25px 0 25px 0;
}

.bar {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: left;
}

.bar > button {
  margin: 0 50px 0 50px;
  font-size: 18px;
  border: none;
  background-color: #555555;
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.bar > button:hover {
  cursor: pointer;
  background-color: #333333;
  transition: 0.3s;
}

/* Delete after button update */

.scnd-bar {
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.scnd-bar > a {
  transition: 0.1s;
}

.scnd-bar > a:hover {
  cursor: pointer;
  font-weight: bolder;
  transition: 0.1s;
}

.spacer {
  display: flex;
  flex-grow: 1;
}

/* Sub Bar, new */

#sub-bar {
  flex-direction: row;
  width: 100%;
  margin: 50px 0 25px 0;
}

#sub-bar > div {
  display: none;
}

#sub-bar > div > button {
  margin: 0 50px 0 50px;
  font-size: 18px;
  border: none;
  background-color: #555555;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

#sub-bar > div > button:hover {
  cursor: pointer;
  background-color: #333333;
  transition: 0.3s;
}

#find-member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  min-height: 10vh;
  background-color:rgb(21, 21, 21);
  color: white;
}

#find-member > input {
  font-size: 20px;
}

#find-member > h1 {
  margin-top: 25px;
}

#find-member > p {
  position: absolute;
  right: 4px;
  top: 2px;
}

#find-member > p:hover {
  cursor: pointer;
}

#find-member > .search-result:hover {
  cursor: pointer;
}


.popup {
  width: 200px;
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr / 1fr;
  position: absolute;
  background: rgb(216, 216, 216);
  padding: 5px;
}

.exit {
  order: 99;
  background: red;
  text-align: center;
}

.btn-area {
  grid-row: 1 / 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-area > button {
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.txt-area {
  grid-row: 2 / 3;
  width: 100%;
  text-align: center;
}

.full-overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.slot-entry {
  width: max(50vw, 500px);
  height: auto;
  background: rgb(226, 226, 226);
  border-radius: 10px;
  padding: 10px;
  color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-item {
  margin: 10px;
}

#search {
  position: relative;
  height: auto;
  max-height: 80px;
  overflow-y: scroll;
  width: 25rem;
}

.search-item {
  font-size: 12px;
  padding: 2px;
}

.search-item:hover {
  cursor: pointer;
  background: rgb(220, 220, 220);
}

.add-exit {
  position: absolute;
  right: 15px;
  top: 0px;
}

.add-exit:hover {
  cursor: pointer;
}

.load-string-box {
  width: 40vw;
}

/* Family Tree Customization */
#tree>svg {
  background-color: #772432;
}

#tree > svg > g.node > rect {
  fill: #a79e70;
}

[data-l-id] path {
  stroke: #ffcb4f;
}

#tree-pc {
  width: 90vw;
  height: 90vh;
  display: none;
  border: 1px solid black;
}